<p>
  The KAUST Visualization Lab is hosting an <em>Introduction to Conda for (Data) Scientists</em> 
  workshop. Conda is  an open source package and environment management system that runs on 
  Windows, macOS and Linux. Conda installs, runs, and updates packages and their dependencies. 
  Conda easily creates, saves, loads, and switches between environments on your local computer. 
  While Conda was created for Python programs it can package and distribute software for any 
  languages such as R, Ruby, Lua, Scala, Java, JavaScript, C/ C++, FORTRAN. This lesson motivates 
  the use of Conda as a development tool for building and sharing project specific software 
  environments that facilitate reproducible (data) science workflows.
</p>
<p>
  Topics covered will include
</p>
<ul>
  <li>Getting Started with Conda</li>
  <li>Working with Environments</li>
  <li>Sharing Environments</li>
  <li>Using Packages and Channels</li>
</ul>

<p>
  This hands-on lesson is part of the <em>Introduction to Data Science Workshop Series</em> 
  being offered by KVL as part of our on-going efforts to build 
  capacity in core data science skills both at KAUST and within the Kingdom of Saudi Arabia (KSA). 
</p>
<p>
  The workshop curriculum largely follows the 
  <a href="https://carpentries-incubator.github.io/introduction-to-conda-for-data-scientists/">curriculum</a> developed by 
  <a href="{{site.swc_site}}">Software Carpentry</a>, a volunteer project dedicated to helping 
  researchers get their work done in less time and with less pain by teaching them basic research 
  computing skills.
</p>
<p>
  This is a live-coding based workshop and learners are expected to work along with the instructor using freely 
  available cloud resources provided by the <a href="https://mybinder.readthedocs.io/en/latest/">Binder</a> project.
</p>
    
<p align="center">
  <em>
    For more information on what Software Carpentry teaches and why, please see their paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>