<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <!-- <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr> -->
      <tr> <td>14:00</td>  <td>Introduction to Conda</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:45</td>  <td>Reproducible Software Environments with Conda</td> </tr>
      <tr> <td>15:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
      <!-- <tr> <td>After</td> <td><a href="{{https://kaustforms.formstack.com/forms/intro_conda_for_data_science_fall_2022}}">Post-workshop survey</a> </td> </tr>       -->
    </table>
  </div>
</div>
